examples/Blinds.json
[
    {
        "id": "fb4c2a89.f5f708",
        "type": "spruthub-out",
        "z": "8854e7acba43d814",
        "name": "Target",
        "server": "2b24801e.4e0d5",
        "friendly_name": "Штора",
        "uid": [
            "201_11"
        ],
        "cid": "13",
        "showHidden": false,
        "enableMultiple": false,
        "payload": "payload",
        "payloadType": "msg",
        "x": 790,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d3a7cd30.f1f17",
        "type": "spruthub-get",
        "z": "8854e7acba43d814",
        "name": "",
        "server": "2b24801e.4e0d5",
        "friendly_name": "Штора",
        "uid": [
            "201_11"
        ],
        "cid": "",
        "ctype": "",
        "showHidden": false,
        "enableMultiple": false,
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "f5788f04.b5bed"
            ]
        ]
    },
    {
        "id": "f5788f04.b5bed",
        "type": "function",
        "z": "8854e7acba43d814",
        "name": "",
        "func": "if (!(\"PositionState\" in msg.payload)) return null;\n\nif (msg.payload.PositionState == 2) { //остановлено\n    msg.payload = msg.payload.CurrentPosition!=100?100:0;\n} else if (msg.payload.PositionState == 0) { //закрывается \n    msg.payload = 100;\n} else if (msg.payload.PositionState == 1) { //открывается \n    msg.payload = 0;\n}\nreturn msg;\n\n\n//100 открыто\n//0 закрыто",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 695,
        "y": 1280,
        "wires": [
            [
                "fb4c2a89.f5f708"
            ]
        ],
        "l": false
    },
    {
        "id": "d35e6a33.cb9128",
        "type": "switch",
        "z": "8854e7acba43d814",
        "name": "",
        "property": "event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "click",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "doubleclick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 475,
        "y": 1300,
        "wires": [
            [
                "d3a7cd30.f1f17"
            ],
            [
                "7a44fafd.651d34"
            ]
        ],
        "l": false
    },
    {
        "id": "7a44fafd.651d34",
        "type": "spruthub-out",
        "z": "8854e7acba43d814",
        "name": "Стоп (C_Target)",
        "server": "2b24801e.4e0d5",
        "friendly_name": "Штора",
        "uid": [
            "201_11"
        ],
        "cid": "16",
        "showHidden": false,
        "enableMultiple": false,
        "payload": "2",
        "payloadType": "num",
        "x": 600,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e4fa57232eddaaf9",
        "type": "spruthub-out",
        "z": "8854e7acba43d814",
        "name": "Штора, %",
        "server": "2b24801e.4e0d5",
        "friendly_name": "Штора (Спальня)  ZNCLDJ11LM: 00158D000464F587",
        "uid": [
            "201_11"
        ],
        "cid": "13",
        "showHidden": false,
        "enableMultiple": false,
        "payload": "payload",
        "payloadType": "msg",
        "x": 810,
        "y": 1360,
        "wires": []
    },
    {
        "id": "113791aa94aa4592",
        "type": "spruthub-in",
        "z": "8854e7acba43d814",
        "name": "Кнопка",
        "server": "c996ec2ec0efcf61",
        "friendly_name": "Кнопка 1  (Новая комната) : Кнопка",
        "uid": [
            "226_13"
        ],
        "cid": "15",
        "ctype": "ProgrammableSwitchEvent",
        "showHidden": false,
        "enableMultiple": false,
        "outputAtStartup": true,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "d35e6a33.cb9128"
            ]
        ]
    },
    {
        "id": "2b24801e.4e0d5",
        "type": "spruthub-server",
        "name": "",
        "host": "192.168.1.3",
        "api_port": "7777"
    },
    {
        "id": "c996ec2ec0efcf61",
        "type": "spruthub-server",
        "name": "",
        "host": "192.168.1.3",
        "api_port": "7777",
        "credentials": {}
    }
]